<h1>Coupons List</h1>

<h3><%@coupons.each do |coupon|%>
    <%=link_to "#{coupon.coupon_code}", coupon_path(coupon.id)%> 
     <%end%></h3>
     <p><%= link_to "Create New Coupon", coupons_new_path%></p>